* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.top {
    width: 100%;
    background-color: #1f2d30;
}

.top-wrap a:hover>.facebook {
    color: #000;
    transition: .3s;
}

.top-wrap {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facebook {
    width: 200px;
    height: 100%;
    background-color: #fcc236;
    padding: 18px 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .3s;
}

.about {
    width: 100%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0px;
}

.about-wrap {
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-wrap p {
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.about-wrap span {
    margin-bottom: 22px;
    color: #1f2d30;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-wrap span strong {
    color: #fcc236;
}

footer {
    width: 100%;
    padding: 18px 0px;
    background-color: #fcc236;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    margin-right: 4px;
    color: #1f2d30;
    font-size: 14px;
    font-weight: 600;
}

footer a {
    font-family: 'Open Sans', sans-serif;
    color: #1f2d30;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.menu {
    width: 100%;
    padding: 40px 0px;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 9999999;
}

.menu-wrap {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu-logo {
    font-size: 40px;
    margin-right: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    font-size: 20px;
}

.menu-menu a {
    transition: .3s;
}

.background {
    width: 100%;
    height: 835px;
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(images/mask.png);
    height: 250px;

}

.background-wrap {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    max-width: 700px;
}

.background-wrap span {
    margin-bottom: 20px;
}

.background-wrap p {
    font-size: 54px;
    text-align: center;
    margin-bottom: 20px;

}

.desc {
    font-size: 16px !important;
    margin-bottom: 40px !important;
}

.more-button {
    background-color: #fcc236;
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    border: solid 1px #fcc236;
    transition: .5s;
}

.more-button:hover {
    background-color: transparent;
    color: #fcc236;
    transition: .5s;
}

.menu-menu>a:hover {
    color: #fcc236;
    transition: .3s;
}

.perks {
    width: 100%;
    background-color: #fafafa;
}

.perks-wrap {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    display: flex;
    padding: 0px 20px;
    position: relative;
}

.offer-icon {
    margin-right: 18px;
}

.offer-details span {
    color: #1f2d30;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.offer-details p {
    color: #606060;
    line-height: 26px;
}

.offer:nth-child(2)::before {
    content: '';
    position: absolute;
    border-left: dashed #d4d4d4 1px;
    width: 2px;
    left: -10px;
    height: 100%;
}

.offer:nth-child(2)::after {
    content: '';
    position: absolute;
    border-left: dashed #d4d4d4 1px;
    width: 2px;
    right: 10px;
    height: 100%;
}

.service {
    width: 100%;
    background-color: #fafafa;
    display: flex;
}

.service-wrapper {
    width: 100%;
}

.service-wrap {
    padding: 24px;
    width: 100%;
}

.service-wrap span {
    color: #1f2d30;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.service-wrap span strong {
    color: #fcc236;
}

.service-wrap p {
    color: #606060;
    max-width: 800px;
}

.blocks-wrap {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #1f2d30;
    font-size: 24px;
}

.block img {
    width: 100%;
    margin-bottom: 20px;
}

.service>img {
    width: 40%;
    height: fit-content;
}

.hamburger {
    display: none;
    width: 38px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.hamburger-menu {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999999999999999999;
    position: fixed;
    top: -100vh;
    left: 0;
    transition: .3s;
    display: none;
    justify-content: center;
    align-items: center;
}

.hamburger-menu-active {
    top: 0;
    transition: .3s;
}

.close-button {
    width: 50px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

.close-button .line:first-child {
    transform: rotate(42deg);
    position: relative;
    top: 17px;
}

.close-button .line:last-child {
    transform: rotate(-42deg);
    position: relative;
    bottom: 16px;
}

.hamburger-wrap {
    display: flex;
    flex-direction: column;
}

.hamburger-wrap a {
    padding: 20px 0px;
    text-align: center;
    font-size: 40px;
}

@media (max-width: 1279px) {

    .top-wrap,
    .menu-wrap {
        max-width: 992px;
    }

    .menu-menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .menu-wrap {
        justify-content: space-between;
        align-items: center;
    }

    .menu-logo {
        position: static;
        margin: 0;
        top: unset;
        left: unset;
        transform: unset;
    }

    .hamburger-menu {
        display: flex;
    }
}

@media (max-width: 1100px) {
    .offer {
        max-width: 450px;
    }

    .perks-wrap {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .offer:nth-child(2)::after,
    .offer:nth-child(2)::before {
        display: none;
    }

    .offer {
        margin-top: 80px;
    }

    .service {
        flex-direction: column;
    }

    .service>img {
        width: 100%;
    }
}

@media (max-width: 1050px) {
    .top-wrap {
        padding: 0px 0px 0px 36px;
    }

    .menu-wrap {
        padding: 0px 36px;
    }
}

@media (max-width: 780px) {
    .block {
        width: 100%;
        max-width: 230px;
        margin-top: 40px;
    }

    .blocks-wrap {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}